---
import { about, social_networks } from '@info'
import Link from '../shared/link.astro'
---

<section class="flex flex-col">
    <h1 class="text-xl font-bold text-zinc-200">{about.title}</h1>
    <p class="text-zinc-400">{about.about}</p>
    <div class="flex flex-row gap-3 mt-2">
        {
            social_networks.map(network => (
                <Link label={network.name} url={network.link} />
            ))
        }
    </div>
</section>