---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/hero.astro';
import SobreMi from '../components/sections/sobreMi.astro';
import Tecnologias from '../components/sections/tecnologias.astro';
import Experiencia from '../components/sections/experiencia.astro';
import Proyectos from '@/components/sections/proyectos.astro';
---

<Layout title="rokthar">
	<main class="flex flex-col py-10">
		<Hero />
		<!-- <SobreMi />
		<Tecnologias />
		<Experiencia />
		<Proyectos /> -->
	</main>
</Layout>
