---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-zinc-900">
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'BricolageGrotesque';
		src: url("/funtes/BricolageGrotesque-VariableFont.ttf") format("truetype");
	}
	html{
		font-family: 'BricolageGrotesque', sans-serif;
		letter-spacing: -0.025rem;
	}
	body{
		margin: 0;
		padding: 0;
	}
	h1, h2, h3, h4, h5, h6{
		margin: 0;
		padding: 0;
		font-family: 'BricolageGrotesque', sans-serif;
	}
	p{
		font-size: .9rem;
		line-height: 1.5;
		margin: 0;
		text-wrap: pretty;
	}
	section{
		max-width: 700px;
        margin: 0 auto 48px;
	}
	
</style>
